body {
	text-align: center;	/*for IE6*/
	padding: 50px 0 0 0;
}

a:visited, a:active, a:link {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
	color: #777;
}

li {
	padding: 10px 0 10px 0;
}

p {
	line-height: 30px;
}
/*main container for index page*/
#container {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-family: Verdana;
}

#logo, #adminlogin {
	text-align: center;
}

#post {
	font-family: Helvetica;
	
}

.post-title{
	width: 100%;
	height: 40px;
	font-size: 20px;
	padding: 5px 5px 5px 5px;
}

.post-textarea{
	width: 100%;
	height: 50%;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	font-family: Helvetica;
}

input[type=submit] {
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}

#content {
	text-align: justify;
	padding: 50px 0 0 0;
}

#title {
	font-weight: bold;
}

#posttime {
	font-size: small;
	font-style: italic;
}
